<?xml version="1.0"?>
<!--
/**
 * ShopGo
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    Shopgo
 * @package     Shopgo_ShippingCore
 * @author      Ammar <ammar@shopgo.me>
 * @copyright   Copyright (c) 2014 Shopgo. (http://www.shopgo.me)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Shopgo_ShippingCore>
            <version>1.3.10</version>
        </Shopgo_ShippingCore>
    </modules>
    <global>
        <blocks>
            <shippingcore>
                <class>Shopgo_ShippingCore_Block</class>
            </shippingcore>
        </blocks>
        <helpers>
            <shippingcore>
                <class>Shopgo_ShippingCore_Helper</class>
            </shippingcore>
        </helpers>
        <models>
            <shippingcore>
                <class>Shopgo_ShippingCore_Model</class>
            </shippingcore>
            <shipping>
                <rewrite>
                    <info>Shopgo_ShippingCore_Model_Magento_Shipping_Info</info>
                </rewrite>
            </shipping>
        </models>
        <resources>
            <shippingcore_setup>
                <setup>
                    <module>Shopgo_ShippingCore</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </shippingcore_setup>
        </resources>
        <events>
            <adv_ifconfig_custom_rules>
                <observers>
                    <set_admin_sales_order_shipment_new_css_js_files>
                        <type>singleton</type>
                        <class>shippingcore/observer</class>
                        <method>setAdminSalesOrderShipmentNewCssJsFiles</method>
                    </set_admin_sales_order_shipment_new_css_js_files>
                </observers>
            </adv_ifconfig_custom_rules>
            <payment_method_is_active>
                 <observers>
                     <filter_out_non_cod_payment_methods>
                         <type>singleton</type>
                         <class>shippingcore/observer</class>
                         <method>filterOutNonCodPaymentMethods</method>
                     </filter_out_non_cod_payment_methods>
                 </observers>
             </payment_method_is_active>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <shippingcore>
                    <file>shopgo/shipping_core.xml</file>
                </shippingcore>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shippingcore before="Mage_Adminhtml">Shopgo_ShippingCore_Adminhtml</shippingcore>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <shippingcore>
                    <file>shopgo/shipping_core.xml</file>
                </shippingcore>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <shipping>
            <cod>
                <payment_methods>cashondelivery,phoenix_cashondelivery</payment_methods>
            </cod>
        </shipping>
    </default>
</config>
